input[type=email],input[type=tel],input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    /* background-color: ; */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    
  }

  #ButtonActive{
    background-color: black;
    color:white;
   
  }
  #ButtonNonActivate{
    background-color: #45a049;
    color:gold
  }

  input[type=submit]:hover {
    
    background-color:burlywood;
   
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  label{
    display:flex;
    flex:start;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  p{
    color:red
  }

  .sbidiv{
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  p{
    font-size:12px;
    padding:3px;
    color:red;
    display:none
  }

  input:invalid[focused = "true"]{
   border : 1px solid red;

  }

  input:invalid[focused = "true"]~span{
   display:block;
   font-size: larger;
  }


  