input[type=email],input[type=tel],input[type=text] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    /* background-color: ; */
    color: rgb(23, 210, 13);
    padding: 14px 20px;
   
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    
  }

  #ButtonActive{
    background-color: black;
    color:white;
   
  }
  #ButtonNonActivate{
    background-color: #45a049;
    color:gold
  }

  input[type=submit]:hover {
    
    background-color:burlywood;
   
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  label{
    display:flex;
    flex:start;
    font-style:italic;
    font-weight: bold;
  }

  .formerror{
    color:red,
  
  }
  p{
    color:red
  }

  .sbidiv{
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  

  .input-button{
    background-color: aquamarine;
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    color: rgb(54, 50, 31);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  